<% provide(:title,"My Quizzes") %>
<h3 class="center blue-text" style="font-weight:600">My Quizzes</h3><br>
<p class="center blue-text" style="font-size:18px"><%= link_to "New Quiz" , new_account_quiz_path %></p>
<% quizzes.each do |quiz| %>
  <div id="<%= dom_id(quiz) %>">
    <br>
    <div class="card">
      <div class="card-content blue">
        <div class="card-title">
          <strong><%= quiz.title %></strong>
          <span class="right">
            <%= link_to '🔎', quiz_path(quiz) %>
            <%= link_to '🖋', edit_quiz_path(quiz) %>
            <%= link_to '🗑', quiz_path(quiz), method: :delete %>
          </span>
        </div>
      </div>
      <div class="card-footer" style="padding:10px">
        <p style="font-size:18px;">
          <%= quiz.description %>
        </p>
      </div>
    </div>
  </div>
<% end %>
